

@{
    ViewData["Title"] = "Home Page";
}

<head>

    <title>Home Page</title>

</head>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">

        <h1>Today's sweat<br>is tomorrow's rest</h1>
        <h2> We are a team from the Faculty of Information Technology who created this website to facilitate your access to everything you need in the materials </h2
        <!--<a asp-controller="Home" asp-action="courses" class="btn-get-started">Departments</a>>-->
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h1 style="text-align: center;">  Our Services.</h1>
                   <!--<p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                     </p>-->
                    <ul>
                        <li><i class="bi bi-check-circle"></i>courses chapters.</li>
                        <li><i class="bi bi-check-circle"></i>summarrys.</li>
                        <li><i class="bi bi-check-circle"></i>records.</li>
                    </ul>
                    <p>
                        Good luck, and we wish you success
                    </p>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-6 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="30000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
                </div>

                <div class="col-lg-6 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1" class="purecounter"></span>
                    <p>
                        <a asp-controller="Home" asp-action="courses" style="color:black" >Courses</a>
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
   
   
</main><!-- End #main -->
